/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --black-text: #333333;
  --basic-blue: #81B3D2;
  --basic-grey: #EEEEEE;
  --background-grey: #888888;
  --basic-brown: #766357;
  --brown-tagline: #766458;
  --grey-rating: #F2F2F2;
  --basic-grey: #666666;
  --footer-background: rgba(255, 255, 255, 0.9);
	}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black-text);
  text-transform: uppercase;
  background-color: var(--background-grey);
  text-align: center;
 }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page{
	height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-header-logo {
	justify-self: center;
}

.site-navigation  {
	margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  list-style: none;
}

.main-header {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  }

.site-navigation a {
	color: var(--basic-black);
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}

.site-description {
 	display: grid;
  	grid-template-rows: 507px 216px;
  	background-image: url("../img/background-photo.jpg");
 }

.site-description p {
	line-height: 26px;
	background-color: var(--basic-white);
	margin: 0;
}

.site-description-1 {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
}

.features-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:
	256px
	256px
	256px;
	margin: 0;
  	padding: 0;
  	list-style: none;
}

.features-item h3 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;	
}

.item-blue {
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.item-blue-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start: 1;
	grid-column-end: 4;
	color: var(--basic-white);
	background-color: var(--basic-blue);
	background-image: url(../img/image-features-1.jpg);
	background-position: center right;
	background-size: 800px 256px;
	background-repeat: no-repeat;
	background-color: var(--basic-blue);
}

.item-blue-1 p {
	grid-column-start: 1;
	grid-column-end: 2;
}

.item-blue-1 h3 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.item-blue-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start: 1;
	grid-column-end: 4;
	color: var(--basic-white);
	background-color: var(--basic-blue);
	background-image: url(../img/image-features-2.jpg);
	background-position: center left;
	background-size: 800px 256px;
	background-repeat: no-repeat;
	background-color: var(--basic-blue);
}

.item-blue-2 p {
	grid-column-start: 3;
	grid-column-end: 4;
}

.item-blue-2 h3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.item-grey {
	color: var(--black-text);
	background-color: var(--basic-grey);	
}

.item-grey h3 {
	color: var(--basic-black);
}

.advices-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 330px;
	margin: 0;
  	padding: 0;
	list-style: none;
}
.advices-item h3 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
}

.advices {
	background-color: var(--basic-white);
}

.social-list {
	margin: 0;
  	padding: 0;
	list-style: none;
}

.search-hotel-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
	color: var(--basic-black);
}

.search-hotel p {
	line-height: 24px;
	color: var(--basic-black);
}

.search-hotel {
	background-color: var(--basic-white);
}

.button {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-white);
	background-color: var(--basic-brown);
}

.main-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--footer-background);
	width: 1200px;
	margin: 0 auto;
	}

.contacts {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
}

.footer-copyright {
	line-height: 26px;
	color: var(--basic-black);
}

.main-hotels {
	display: grid;
	grid-template-rows: 217px 1fr;
}

.filters {
	font-weight: bold;
	font-size: 16px;
	color: var(--basic-white);
	background-image: url(../img/background-hotels.jpg);
	}

.hotel-title {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
}

.hotel-description {
	font-weight: 700;
  	color: var(--basic-white);
  	background-color: var(--basic-blue);
}

.button-reserve {
	font-weight: 700;
  	color: var(--basic-white);
  	background-color: var(--basic-brown);
}

.hotel-rating {
	color: var(--basic-grey);
  	background-color: var(--grey-rating);
}

.results {
	display: grid;
	grid-template-rows: min-content 1fr;
	margin: 0 auto;
	padding: 0;
}

.results h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.results-list {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	list-style: none;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.results-item {
	background-color: var(--basic-white);
}